apiVersion: v1
kind: Service
metadata:
  labels:
    app: postgres
  name: postgres
  namespace: job-processing
spec:
  ports:
  - name: postgres
    port: 5432
  selector:
    app: postgres
  clusterIP: None
